@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrow74:before {
    font-size: 40px;
	content: "\e000";
}
.flaticon-connection17:before {
	content: "\e001";
}
.flaticon-css:before {
        color:#0070bb;
    font-size: 80px;
	content: "\e002";
}
.flaticon-eye56:before {
        font-size: 30px;
	content: "\e003";
}
.flaticon-github7:before {
    font-size: 25px;
	content: "\e004";
}
.flaticon-html3:before {
        color: #e44d26;
    font-size: 55px;
	content: "\e005";
}
.flaticon-java1:before {
        color: #e72c2d;
    font-size: 55px;
	content: "\e006";
}
.flaticon-js1:before {
        color: #f0db4f;
    font-size: 55px;
	content: "\e007";
}
.flaticon-linkedin2:before {
        font-size: 25px;
	content: "\e008";
}
.flaticon-mail22:before {
        font-size: 25px;
	content: "\e009";
}
.flaticon-social19:before {
        font-size: 25px;
	content: "\e00a";
}
.flaticon-symbol:before {
        color: #5a69a6;
    font-size: 80px;
	content: "\e00b";
}

